/* Globals start */
* {
    margin: 0;
    
    box-sizing: border-box;
}

body {
    background-color: #E9EEF0;
    font-family: "poppins", sans-serif;
    width: 100%;
    overflow-x: hidden;
    
}



a {
    text-decoration: none;
    color: #F1F1F2;
}

ul {
    list-style: none;
    padding: 0px;
}

h1 {
    font-size: 44px;
    font-weight: 400;
    font-style: normal;
    line-height: 48px;
    color: #161718;
}

h2 {
    font-size: 44px;
    font-weight: 400;
    font-style: normal;
    line-height: 48px;
    color: #161718;
}

h3 {
    font-weight: 400;
    font-size:32px;
    font-style: normal;
    color: #161718;
    line-height: 40px;
}

h4 {
    font-weight: 300;
    font-size:28px;
    font-style: normal;
    color: #161718;
}

p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #5A5E60;
}

.white-text {
    color: #FFF;
}

@media only screen and (min-width: 767px) {

    h1 {
        font-size: 70px;
        font-weight: 400;
        font-style: normal;
        line-height: 82px;
        color: #161718;
    }

    h2 {
        font-size: 70px;
        font-weight: 400;
        font-style: normal;
        line-height: 82px;
        color: #161718;
    }

    h3 {
        font-size: 36px;
        font-weight: 400;
        font-style: normal;
        line-height: 44px;
        color: #161718;
    }

    h4 {
        font-weight: 400;
        font-size:28px;
        line-height: 36px;
        font-style: normal;
        color: #161718;
    }
}

/* Globals slut */

/* MOBILE forside start */ 

/* Burger menu start */

@media only screen and (max-width: 767px) {

.nav-styling {
    display: none;
   }

main {
        width: 90vw;
        margin: auto;
     }

a {
    color: #fff;
    text-decoration: none;
  }
  
  .p-menu1{
     height: 100%;
  }
  
  
  /* Hamburger */
  .hamburger1 {
    height: 30px;
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: end;
    z-index: 120;
  }
  
  .hamburger1 div {
    background-color: #1E516B;
    position: relative;
    width: 40px;
    height: 3px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle1 {
    display: none;
  }
  
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 68dvh;
    /* position: fixed;
    top: 40px; */
  }
  
  
  /* Menu */
  .menu1 {
    width: 100%;
    background-color: #1E516B;
    margin: 0;
    border-radius: 40px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(3, 0.7fr);
    grid-row-gap: 25px;
    padding: 0;
    list-style: none;
    clear: both;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .menu1 a:first-child {
    margin-top: 40px;
  }
  
  .menu1 a:last-child {
    margin-bottom: 40px;
  }
  
  .link1 {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
    
  }
  
  

  /* dropwdown test */

  
  /* dropdown test */

}
/* Burger menu slut */

/*Header MOBIL start*/

.header-forside-sektion {
    width: 100%;
    height: 1000px;
    background-image: url('https://i.ibb.co/PQg8Bmx/e45898a92e0147ac9b0e73fd47b2ca6a.webp');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.header-heading {
    min-width: 100%;
    margin-top: 50px;
    color: #707578;
    font-weight: 500;
    font-size: 44px;
}

.videobox-grid {
    display: grid;
    grid-template-areas: 
    "video-box"
    "text-box2"
    "text-box3";
    gap: 32px;
    width: 90vw;
    margin: auto;
}

.video-box {
    height: 519px;
    width: 100%;
    background-image: url('https://i.ibb.co/XYXGDn4/4fb723521fa14ea5d6abaf6539729b06-1-1.webp'); 
    background-color: #1E516B;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 10px 5px -3px rgba(16, 24, 40, 0.10);
}

.video-text-box {
    width:90%;
    height: 300px;
    padding: 16px;
    border-radius: 24px;
    border: 1px solid rgba(165, 185, 196, 0.30);
    background-image: linear-gradient(to right, #7897A6B2, #123140B2);
    position: absolute;
    inset: 0;
    margin: 200px auto 0 auto;
    color: white;
    backdrop-filter: blur(2px); 
    
}

.video-text {
    color: white;
    opacity: 1;
}

.text-box1 {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #1E516B;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 10px 5px -3px rgba(16, 24, 40, 0.10);
    color: #FFFFFF;
}

.text-box1-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
}
.text-box2 {
    height: 300px;
    background-color: #466B73;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 10px 5px -3px rgba(16, 24, 40, 0.10);
}

.knap-pil {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.pil {
    /* Set initial rotation */
    transform: rotate(0deg);
    transition: transform 0.5s; /* Apply transition only to transform property */
}

.pil:hover {
    transform: rotate(45deg);
    transition: all;
    transition-duration: 0.5s;
}

/*Header slut*/

/* forside grid start */

.big-grid-forside {
   display: grid;
   grid-template-areas:
   "videobox-grid"
   "h2-text"
   "js-cards"
   "forside-video-sektion"
   "footer-flex";
   gap: 100px;
   width: 90vw;
   margin: auto;
   max-width: 1500px;
}

@media only screen and (min-width: 767px) {

    .big-grid-forside {
        gap: 140px;
    }
}

.videobox-grid {
    grid-area: videobox-grid;
    max-width: 1500px;
}
.h2-text {
    grid-area: h2-text;
}

.js-cards {
    grid-area: js-cards;
}

.forside-video-sektion {
    grid-area: forside-video-sektion;
}

.footer-flex {
    grid-area: footer-flex;
    max-width: 1500px;
    margin: auto;
}

/* forside grid slut */


/* h2 text section MOBIL Start */

.h2-text {
    text-align: center;
}
/* h2 text section MOBIL Slut */

/* js-cards section MOBIL start */

.js-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    margin: auto; 
}

 /* no circle */

 .card-text-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1500px;
    width: 90vw;
}

 .slide-container{
    max-width: 350px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    
  }
  
  .image-content{
    position: relative;
    row-gap: 5px;
    
  }
  
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
  }

  
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #E9EEF0;
    border-radius: 40px;
    
  }

  .button-flex {
    display: flex;
    transform: translatex(15px);
    margin-top: 30px;
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .prev-slide, .next-slide {
   max-height: 37.2px;
  }

  .prev-slide {
    transform: rotate(180deg) scale(1.2);
    cursor: pointer;
   }
 
   .next-slide {
     cursor: pointer;
   }

  .fly-streg-icon {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
  }

  .fly-icon {
    margin-right: 20px;
    transform: translateX(-10px) translateY(4px);
  }

  .streg {
    width: 100%;
    height: 2px;
    background-color: #1E516B;
  }

  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
     
/* js-cards section MOBIL slut */

/* video forside MOBIL sektion start */

.forside-video-sektion {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90vw;
}

.forside-video-styling {
    height: 284px;
    border-radius: 40px;
    background-color: #1E516B;
}

.laes-mere-knap {
    background-color: #1E516B;
    height: 40px;
    width: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 72px;
    margin-top: 16px;
}

.knap-text {
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    color: #FFFFFF;
}
/* video forside MOBIL sektion slut */

/* MOBILE forside slut */ 

@media only screen and (min-width: 767px) {
    

/* Header DESKTOP start */

/* nav DESKTOP start */
#navbar.navigation {
    display: none;
}

.nav-styling {
    display: flex;
    margin-top: 30px;
}


.nav-list {
    display:flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    justify-content: end;
    align-items: center;
    
}
/* nav DESKTOP slut */

.header-heading {
    white-space: nowrap;
    font-size: 70px;
    margin-top: 20px;
}

.header-heading::after {
    content: '';
    background-image: url('https://i.ibb.co/3mcWFf5/Icon-2.png');
    height:82px;
    width: 82px;
    display:inline-block;
    transform: translateY(10px);
    }


.videobox-grid {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr;
    grid-template-areas: 
    "header-content header-content header-content"
    "video-box video-box text-box1"
    "video-box video-box text-box2";
    gap: 32px;
}

.video-box {
    grid-area: video-box;
    height: 635px;
}

.video-text-box {
    margin: 415px auto 0 auto;
    height: 180px;
}

.text-box1 {
grid-area: text-box1;
}

.text-box2 {
    grid-area: text-box2;
    }

/* Header DESKTOP slut */

/* h2-text DESKTOP start */
.h2-text {
    max-width: 1500px;
    width: 800px;
    margin: auto;
}
/* h2-text DESKTOP slut */

/* js-cards DESKTOP start */

.js-cards {
    /* margin: auto;
    width: 100%; */
}

.card-text-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1500px;
    width: 90vw;
}

.card-text {
    max-width: 350px;
    /* margin-right: 75px; */
}

.slide-container.swiper {
    margin: auto !important;
    /* transform: translatex(-41px); */
    width: 100vw;
    
}

.slide-container{
    max-width: 1250px;
    width: 100%;
    padding: 40px 0;
  }

  .button-flex {
    display: flex;
    transform: translateX(40px);
    margin: 0;
    gap: 0px;
    width: 100%;
  }

  .prev-slide {
    transform: rotate(180deg) scale(1.0);
    transition: all 0.5s ease-in-out;
    
   }

   .prev-slide:hover {
    transform: rotate(180deg) scale(1.2);
   }
 
   .next-slide {
     transform: scale(1.0);
     transition: all 0.5s ease-in-out;
   }

   .next-slide:hover {
    transform: scale(1.2);
   }

   .streg {
    width: 93%;
   }

   .fly-desktop-flex{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 5px;
  }

   .fly-streg-icon {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    margin-left: 5px;
  }

  .fly-icon {
    margin-right: 20px;
    transform: translateX(-60px);
  }

/* js-cards DESKTOP slut */

/* video forside DESKTOP sektion start */

.forside-video-sektion {
    flex-direction: row;
    align-items: center;
    max-width: 1500px;
}

.forside-video-styling {
    order: 99;
    height: 390px;
    width: 568px;
}

.forside-video-text {
    order: 0;
}

/* video forside DESKTOP sektion slut */
}


/* DESTINATION UNDERSIDE */

/* Mobil start */

/* Destinationer header MOBIL start */

.header-destination-sektion {
    width: 100%;
    height: 1000px;
    background-image: url('https://i.ibb.co/wgTXpD0/bc3f3054d3073423095fdc188220063f-1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.destinationer-header-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "video-box"
    "text-box2-destinationer"
    "header-text-destinationer"
    ;
    gap: 32px;
    width: 90vw;
    margin: 50px auto 0 auto;
}

.text-box2-destinationer {
    height: 300px;
    background-color: #466B73;
    border-radius: 40px;
    position: relative;
    grid-area: text-box2-destinationer;
    box-shadow: 0px 10px 5px -3px rgba(16, 24, 40, 0.10);
}

.euro-icon {
    position: absolute;
    right: 35px;
    top: 35px;
}

.header-text-destinationer {
    transform: translateY(-10px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-area: header-text-destinationer;
}

/* Destinationer header MOBIL slut */

/* Destinationer content grid start */

.destinationer-big-grid {
    display: grid;
    grid-template-areas: 
    "destination-flex"
    "js-cards";
    gap: 140px;
    margin: 140px auto 0 auto;
    max-width: 1500px;
}

.destination-flex {
   grid-area: destination-flex; 
}

.js-cards {
    grid-area: js-cards;
}
/* Destinationer content grid slut */

/* Destination MOBIL infotext / pros/cons start */

.destination-flex {
    display: flex;
    width: 90vw;
    gap: 30px;
    margin: auto;
    max-width: 1500px;
}

.destination-info-text {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width:100%;
    position: relative;
}

.sevaerdigheder, .tourpasogtransport, .madoplevelser, .raterograbatter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    
}

.titel-flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-titel {
    width: fit-content;
    
}

.lang-titel {
    min-width: fit-content;
}

.lang-titel2 {
    min-width: fit-content;
}

.titel-streg {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #A5B9C4;
}

.destination-tyk-text {
    font-weight: 600;
}

.destination-info-img {
    width: 100%;
    height: 300px;
    border-radius: 40px;
    object-fit: cover;
}

.destination-info-img-dobbelt {
    width: 48%;
    height: 200px;
    border-radius: 40px;
    object-fit: cover;
}

.info-text-dobbelt-img {
    display: flex;
    justify-content: space-between;
    
    
}

.proscons-flex {
    display: none;
}

/* Destination MOBIL infotext / pros/cons slut */

/* Destinationer pros/cons pop-up MOBIL start */

.destination-realtive {
    position: relative;
}

.pop-up-knap {
    position: fixed;
    right: 20px;
    bottom: 50px;
    /* background: linear-gradient(to bottom, #9BD1C2 40%, #F0C1BD 60%); */
    background: #1E516B;
    color:white;
    font-size: 20px;
    border-radius: 50%;
    line-height: 20px;
    font-weight: 600;
    z-index: 99;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  /* Popup content */
  .popup-content {
    background-color: #1E516B;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90vw;
    border-radius: 40px;
    position: relative;
  }

  .proscons-icon-text-flex-popup {
    display: flex; 
    gap: 10px;
    color: white;
  }

  .proscons-text-popup {
    align-self: center;
    color: white;
  }
  
  /* Close button */
  .close {
    color: white;
    position: absolute;
    top: 5px;
    right: 20px;
    
    font-size: 38px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* showcase test */

  /*  Destinationer pros/cons pop-up MOBIL slut */

/* REJSETIPS MOBIL start */ 

/* Rejsetips MOBIL header grid start */

.rejsetips-header-grid {

        display: grid;
        grid-template-areas: 
        "rejsetips-header-text"
        "text-box1-rejsetips"
        "text-box2-rejsetips"
        "video-box-rejsetips"
        ;
        gap: 40px;
        width: 90vw;
        margin: auto;
        margin-top: 40px;
        max-width: 1500px;
    
}

/* Rejsetips MOBIL header grid slut */

/* Rejsetips MOBIL header start */

.rejsetips-header-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: rejsetips-header-text;
}

.text-box1-rejsetips {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #1E516B;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 10px 5px -3px rgba(16, 24, 40, 0.10);
    grid-area: text-box1-rejsetips;
}

.text-box2-rejsetips {
    height: 300px;
    background-color: #466B73;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 10px 5px -3px rgba(16, 24, 40, 0.10);
    grid-area: text-box2-rejsetips;
}

.video-box-rejsetips {
    height: 519px;
    width: 100%;
    background-image: url('https://i.ibb.co/vBF4gBj/a98658b1aff2117b0985235f330c17bc-2.webp'); 
    background-color: #1E516B;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 10px 5px -3px rgba(16, 24, 40, 0.10);
}

.video-text-box-rejsetips {
    width:90%;
    height: 202px;
    padding: 16px;
    border-radius: 24px;
    border: 1px solid rgba(165, 185, 196, 0.30);
    background-image: linear-gradient(to right, #7897A6B2, #123140B2);
    position: absolute;
    inset: 0;
    margin: 300px auto 0 auto;
    color: white;
    backdrop-filter: blur(2px); 
}

/* Rejsetips MOBIL header slut */

/*Rejsetips MOBIL body big grid start */

.rejsetips-big-grid {
    display: grid;
    grid-template-areas: 
    "pakke-flex"
    "js-cards-tips"
    "h2-text-rejsetips"
    "quiz-flex"
    "checkliste-flex"
    "js-cards"
    ;
    gap: 140px;
    margin: 140px auto 0 auto;
    max-width: 1500px;
    width: 90vw;
}

/*Rejsetips MOBIL body big grid slut */

/* Rejsetips MOBIL pakke sektion start */


.pakke-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: pakke-flex;
}

.pakke-text-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pakke-titel-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pakke-video {
    height: 300px;
    background-color: #1E516B;
    border-radius: 40px;
    width: 100%;
}

.pakke-stor-text {
    font-weight: 500;
    font-size: 18px;
}

/* Rejsetips MOBIL pakke sektion slut */

/* Rejstips Js-cards-tips MOBIL start */

.tips-grid {
    display: none;
}

.js-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    margin: auto; 
}

 /* no circle */

 .card-text-flex {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: 90vw;
}

 .slide-container{
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    
  }
  .card{
    border-radius: 25px;
    
  }

  .js-cards-tips-text-flex {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    margin: 10px 15px 0 15px;
    gap: 10px;
    border-radius: 40px;
    padding: 20px 20px 60px 20px;
    position: relative;
  }
  
  .image-content{
    position: relative;
    row-gap: 5px;
    
  }
  
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    
  }

  
  .card-image-tips .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    border-radius: 40px;
    
  }

  .button-flex {
    display: flex;
    transform: translatex(15px);
    margin-top: 30px;
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .prev-slide, .next-slide {
   max-height: 37.2px;
  }

  .prev-slide {
    transform: rotate(180deg);
    cursor: pointer;
   }
 
   .next-slide {
     cursor: pointer;
   }

  .fly-streg-icon {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
  }

  .fly-icon {
    margin-right: 20px;
    transform: translateX(-10px) ;
  }

  .streg {
    width: 100%;
    height: 2px;
    background-color: #1E516B;
  }

  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

/* Rejstips Js-cards-tips MOBIL slut */

/* h2 MOBIL text rejsetips start */

.h2-text-rejsetips {
    text-align: center;
    line-height: 82px;
    max-width: 700px;
    margin: auto;
    grid-area: h2-text-rejsetips;
}

/* h2 MOBIL text rejsetips slut */

/* quiz MOBIL rejsetips start */

.quiz-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quiz-text-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

.quiz-container {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #1E516B;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:white;
}

.mobil-text {
    font-size: 27px;
    margin-bottom: 5px;
    text-align: center;
}

.quiz-streg {
    width: 90%;
    height: 2px;
    background-color: #A5B9C4;
    margin: 0 auto 10px auto;
    opacity: 0.4;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #FFFFFF;
    color: black;
    border-radius: 40px;
    cursor: pointer;
}

button:hover {
    background-color: #A5B9C4;
    color: white;
}

.question {
    font-weight: bold;
}

.reset-button {
    display: none;
    text-align: center;
}

/* Updated styling for result */
.result {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 10px;
}

/* quiz MOBIL rejsetips slut */

/* checkliste MOBIL rejsetips start */
.checkliste-flex {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.checkliste-img {
    width: 100%;
    height: 300px;
    border-radius: 40px;
}

.checkliste-text-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    gap: 10px;
}

.checkliste-button {
    background-color: #1E516B;
    padding: 10px 16px;
    width: 250px;
    color: white;
    border-radius: 72px;
}
/* checkliste MOBIL rejsetips slut */

/* REJSETIPS MOBIL slut */

/* Mobil slut */


/* Desktop start */

/* Destinationer header DESKTOP start */

@media only screen and (min-width: 767px) {

.destinationer-header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "text-box2-destinationer video-box video-box"
    "header-text-destinationer video-box video-box"
    ;
    gap: 40px;
    width: 90vw;
    margin: auto;
    margin-top: 40px;
    max-width: 1500px;
}

.header-text-destinationer {
    transform: translateY(-10px);
    gap: 8px;
}





/* Destinationer header DESKTOP slut */


/* Destination DESKTOP infotext / pros/cons start */

.destination-flex {
    display: flex;
    width: 90vw;
    gap: 30px;
    margin: auto;
    max-width: 1500px;
}

.destination-info-text {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width:100%;
    position: relative;
}

.sevaerdigheder, .tourpasogtransport, .madoplevelser, .raterograbatter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    
}

.titel-flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-titel {
    width: fit-content;
    
}

.lang-titel {
    min-width: 360px;
}

.lang-titel2 {
    min-width: 311px;
}

.titel-streg {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #A5B9C4;
}

.destination-info-img {
    width: 100%;
    height: 450px;
    border-radius: 40px;
}

.info-text-dobbelt-img {
    display: flex;
    gap: 32px;
}

.destination-info-img-dobbelt {
    width: 50%;
    height: 400px;
    border-radius: 40px;
    object-fit: cover;
}

.pop-up-knap {
    display: none;
}

.proscons-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 350px;
    position: sticky;
    top: 20px;
    align-self: start;
}

.destination-pros {
   height: 350px;
   width:320px;
   background-color: #048C66;
   border-radius: 40px;
}

.destination-cons {
    height: 350px;
    width:320px;
    background-color: #D9645A;
    border-radius: 40px;
}

.proscons-titel {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.proscons-titel-streg {
    height: 1px;
    width: 90%;
    margin: auto;
    background-color: #9BD1C2;
}

.proscons-titel-streg2 {
    height: 1px;
    width: 90%;
    margin: auto;
    background-color: #F0C1BD;
}


.proscons-text-flex {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    height: 100%;
    max-height: 270px;
}

.proscons-icon-text-flex {
    display: flex; 
    gap: 10px;
}

.proscons-text {
    align-self: center;
    color: white;
}
/* Destination DEKSTOP infotext / pros/cons slut */

/* REJSETIPS DESKTOP start */ 

/* Rejsetips DESKTOP header grid start */

.rejsetips-header-grid {

    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-areas: 
    "rejsetips-header-text text-box1-rejsetips text-box2-rejsetips"
    "rejsetips-header-text video-box-rejsetips video-box-rejsetips"
    ;
    gap: 30px;
    width: 90vw;
    margin: auto;
    margin-top: 40px;
    max-width: 1500px;
    max-height: 100vh;

}

/* Rejsetips DESKTOP header grid slut */

/* Rejsetips DESKTOP header start */

.rejsetips-header-text {
    display: flex;
    justify-content: center;
}

.video-box-rejsetips {
    grid-area: video-box-rejsetips;
    max-height: 400px;
}

.video-text-box-rejsetips {
    margin: 195px auto 0 auto; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 170px;
}

.text-box1-rejsetips {
    grid-area: text-box1-rejsetips;
}

.text-box2-rejsetips {
    grid-area: text-box2-rejsetips;
}
/* Rejsetips DESKTOP header slut */

/*Rejsetips DESKTOP body big grid start */

.rejsetips-big-grid {
    display: grid;
    grid-template-areas: 
    "pakke-flex"
    "tips-grid"
    "h2-text-rejsetips"
    "quiz-flex"
    "checkliste-flex"
    "js-cards";
    gap: 140px;
    margin: 140px auto 0 auto;
    max-width: 1500px;
    width: 90vw;
}

/*Rejsetips DESKTOP body big grid slut */

/* Rejsetips DESKTOP pakke sektion start */


.pakke-flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
    grid-area: pakke-flex;
}

.pakke-video {
    height: 500px;
    background-color: #1E516B;
    border-radius: 40px;
    width: 50%;
}

.pakke-text-flex {
    width: 50%;
}
/* Rejsetips DESKTOP pakke sektion slut */

/* Rejsetips DESKTOP rejsetips start */

.js-cards-tips {
    display: none;
}

.tips-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "nyttige-tips-flex bank-box-flex bank-box-flex lavsaeson-box-flex"
        "invester-box-flex destination-box-flex destination-box-flex lavsaeson-box-flex"
        "paklet-box-flex paklet-box-flex pakke-box-flex rejseforsikring-box-flex "
        "wifi-box-flex tjek-box-flex pakke-box-flex sikkerhed-box-flex";
        gap: 28px;
        width: 90vw;
        margin: auto;
        max-width: 1500px;
        grid-area: tips-grid;
}

.nyttige-tips-flex {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 5px;
    grid-area: nyttige-tips-flex;
    
}

.invester-box-flex {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: invester-box-flex;
    background-color: #048C66;
    padding: 20px 20px 50px 20px;
    border-radius: 40px;
}

.bank-box-flex {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: bank-box-flex;
    background-color: #D9645A;
    padding: 20px 20px 50px 20px;
    border-radius: 40px;
    
}

.lavsaeson-box-flex {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: lavsaeson-box-flex;
    background-color: #C26D3D;
    padding: 20px 20px 50px 20px;
    border-radius: 40px;
   
}

.destination-box-flex {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: destination-box-flex;
    background-color: #123140;
    padding: 20px 20px 50px 20px;
    border-radius: 40px;
   
}

.paklet-box-flex {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: paklet-box-flex;
    background-color: #91522E;
    padding: 20px 20px 50px 20px;
    border-radius: 40px;
   
}

.pakke-box-flex {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: pakke-box-flex;
    background-color: #02543D;
    padding: 20px 20px 50px 20px;
    border-radius: 40px;
    
}

.rejseforsikring-box-flex {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: rejseforsikring-box-flex;
    background-color: #466B73;
    padding: 20px 20px 50px 20px;
    border-radius: 40px;
    
}

.wifi-box-flex {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: wifi-box-flex;
    background-color: #E1837B;
    padding: 20px 20px 50px 20px;
    border-radius: 40px;
    
}

.tjek-box-flex {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: tjek-box-flex;
    background-color: #5D8E99;
    padding: 20px 20px 50px 20px;
    border-radius: 40px;
    
}

.sikkerhed-box-flex {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-area: sikkerhed-box-flex;
    background-color: #AE5048;
    padding: 20px 20px 50px 20px;
    border-radius: 40px;
    
}
/* Rejsetips DESKTOP rejsetips slut */

/* h2 DESKTOP text rejsetips start */

.h2-text-rejsetips {
    text-align: center;
    line-height: 82px;
    max-width: 700px;
    margin: auto;
}

/* h2 DESKTOP text rejsetips slut */

/* quiz DESKTOP rejsetips */

.quiz-flex {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.quiz-text-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 45%;
}

/* quiz DESKTOP rejsetips */

/* checkliste DESKTOP start */

.checkliste-flex {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.checkliste-img {
    width: 100%;
    height: 500px;
    border-radius: 40px;
}

/* checkliste DESKTOP slut */

/* REJSETIPS DESKTOP slut */
}
/* Desktop slut */







/* Footer start */

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 900px;
    height: auto;
    width: 90vw;
    
    border-radius: 70px 70px 0 0;
    color: white;
}

.footer-container {
    background-color: #1E516B;
    border-radius: 70px 70px 0 0;
    width: 100%;
}

.footer-list-styling {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    width: 230px;
}

.last-element {
    order: 999;
    margin-bottom: 50px;
}

.text-max-w {
    max-width: 300px;
}

.strong-font-footer {
    font-weight: 600;
}

.nav-styling {
    width: 90vw;
    margin: 30px auto 0 auto;
    max-width: 1500px; 
}

/* Footer slut */

@media only screen and (min-width: 767px) {
/* Footer DESKTOP start */
.last-element {
    order: 0;
}
/* Footer DESKTOP slut */
}










.hoverMegamenu {
    overflow: hidden;
    font-family: Arial, sans-serif; /* Ensuring font consistency */
    padding: 2em 0;
}

.hoverMegamenu:hover ul.subnav {
    visibility: visible;
    opacity: 1;
    top: 84px;
    right: 20px;
    z-index: 99;
    width: 30vw;
    overflow: hidden;
}

.hoverMegamenu > ul.subnav {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 76px;
    background: white; /* Changed from red to white */
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    opacity: 0;
    transition: all 0.3s ease; /* Smoother transition */
    padding: 20px; /* Added padding */
}

.continent, .displayCountries p {
    cursor: pointer; /* Makes it clear they are clickable */
    margin: 10px 20px; /* Added margin for spacing */
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
}

.continent.active {
    background-color: #1E516B;
    color: white;
    border-radius: 40px;
    width: fit-content;
    padding: 5px 10px 5px 10px;
}

/* Styling for the Continent and Countries titles */
.section-title {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid rgb(30, 81, 107, 0.2);
    margin: 0 0 10px 20px;
    color:#1E516B;
    max-width: 120px;
}

.section-title2 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid rgb(30, 81, 107, 0.2);
    margin: 0 0 10px 18px;
    color:#1E516B;
    max-width: 120px;
}

/* Layout for titles and content */
.hoverMegamenu > ul.subnav > div {
    flex: 1;
}






.active-continent {
    background-color: #5D8E99; /* Lys grå for at fremhæve det åbne kontinent */
    width: fit-content;
    margin: 20px auto 40px auto;
    padding: 4px 9px;
    border-radius: 20px;
}

.continent-menu {
    display: none; /* Skjuler kontinenterne som standard */
}

.burger-menu-dropdown-text {
    color: #FFFFFF; 
    font-size: 16px;
    margin-bottom: 3px;
}

#country-links {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#country-links a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

#country-links a:hover {
    background-color: #1E516B;
    color: white;
    border-radius: 40px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-list .hoverMegamenu:hover .subnav {
    display: flex;
}










/* Style for dropdown menu under Ressourcer */
.hoverResourceDropdown {
    position: relative;
}

.hoverResourceDropdown .resource-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    flex-direction: column;
}

.hoverResourceDropdown .resource-dropdown a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    max-width:300px;
}

.resource-dropdown {
    transform: translateX(-80px);
    border-radius: 40px;
}

.hoverResourceDropdown .resource-dropdown a:hover {
    background-color: #1E516B;
    color: white;
    border-radius: 40px;
}

/* Show the dropdown when hovering over the dropdown li */
.hoverResourceDropdown:hover .resource-dropdown {
    display: flex;
}
